/* styles.css or App.css */

/* General styles */
html,
body,
#root,
ion-app,
ion-content,
ion-page {
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

ion-router-outlet {
    display: block;
    height: 100%;
    overflow: auto;
}

/* Footer styles */
.footer-container {
    background-color: var(--ion-color-dark);
    color: var(--ion-color-light);
    display: none;
}

@media (min-width: 768px) {
    .footer-container {
        display: flex;
    }
}

/* Header styles */
.ion-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Menu styles */
.custom-menu {
    --ion-background-color: var(--ion-color-light);
    --ion-text-color: var(--ion-color-dark);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-menu-item {
    --background: var(--ion-color-light);
    --color: var(--ion-color-dark);
    margin-bottom: 8px;
    border-radius: 8px;
    transition: background 0.3s;
}

.custom-menu-item:hover {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-light);
}

.custom-menu-item:active {
    --background: var(--ion-color-primary-shade);
    --color: var(--ion-color-light);
}